@import '../../global.less';

.mainContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 70px);
  .leftContainer {
    width: 49.5%;
    background-color: @fill-1;
    .menuSelect {
      border-bottom: 0px;
      :global {
        .ant-menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33.33%;
        }
      }
    }
    .menuContainer {
      height: 92%;
    }
    .bottomLine {
      width: 100%;
      height: 0.5px;
      background-color: @line-3;
    }
  }
  .rightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 49.5%;
    background-color: @fill-1;
    overflow: hidden;
    .codeOptions {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      height: 45.5px;
      border-bottom: 0.5px solid @line-3;
      .languageOptions {
        display: flex;
        align-items: center;
        .languageSelect {
          color: @text-5;
          .font-size-weight(14px,400);
          :global {
            .ant-select-arrow {
              color: @text-5;
            }
          }
        }
        .popoverText {
          display: flex;
          align-items: center;
          cursor: pointer;
          .greenCircle {
            margin-left: 10px;
            margin-right: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: @success-6;
          }
        }
      }
      .otherOptions {
        p {
          .font-size-weight(14px,400);
        }
        svg {
          margin-left: 15px;
          width: 20px;
          height: 20px;
          color: @text-5;
          cursor: pointer;
        }
      }
    }
    .codeContainer {
      height: 100%;
      overflow: auto;
      :global {
        .react-codemirror2 {
          height: 100%;
          .CodeMirror {
            height: 100%;
            .CodeMirror-foldmarker {
              font-size: 0px;
            }
            .CodeMirror-foldmarker::after {
              content: '...';
              font-size: 20px;
              color: @text-5;
              text-shadow: none;
            }
            .CodeMirror-foldgutter-open::after {
              content: '\02C7';
              position: relative;
              left: -4px;
              font-size: 20px;
              opacity: 0.2;
            }
            .CodeMirror-foldgutter-open:hover::after {
              opacity: 1;
            }
            .CodeMirror-foldgutter-folded::after {
              content: '\203A';
              position: relative;
              left: -4px;
              top: -6px;
              font-size: 20px;
              opacity: 0.2;
            }
            .CodeMirror-foldgutter-folded:hover::after {
              opacity: 1;
            }
            .CodeMirror-gutters {
              background-color: @fill-1;
              .CodeMirror-foldgutter {
                margin-left: 3px;
              }
            }
            // 选择行的背景颜色
            .CodeMirror-activeline-background {
              background-color: rgba(@cyan-6, 0.1);
            }
            // 选择括号的颜色
            .CodeMirror-matchingbracket {
              color: @cyan-6;
            }
            // 框选文本时背景颜色
            .CodeMirror-selected {
              background-color: rgba(@cyan-6, 0.3);
            }
          }
          // mdn-like 侧边颜色
          .cm-s-mdn-like {
            .CodeMirror-gutters {
              border-left-color: @cyan-7;
            }
          }
        }
      }
    }
    .codeButton {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 20px;
      height: 50px;
      border-top: 0.5px solid @line-3;
      background-color: @fill-1;
      .submit {
        margin-left: 20px;
        border: 0px;
      }
      .test {
        display: flex;
        align-items: center;
        justify-content: center;
        color: @text-1;
        background-color: @orange-6;
        border: 0px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
