@import '../../../../global.less';

.mainContainer {
  padding: 20px;
  .list {
    :global {
      .ant-list-item:hover {
        background-color: @fill-3;
      }
      .ant-list-item-extra {
        img {
          width: 272px;
          height: 168px;
          object-fit: cover;
        }
      }
      .ant-list-item-action {
        position: relative;
        bottom: 10px;
      }
      .ant-list-pagination {
        margin: 0;
        padding: 10px;
      }
    }
    .articleTitle {
      .font-size-weight(18px,600);
    }
    .clickMore {
      color: @link-color;
    }
  }
}
