@import '../../global.less';

.mainContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 70px);
  .leftContainer {
    width: 49.5%;
    background-color: @fill-1;
    .menuSelect {
      border-bottom: 0px;
      :global {
        .ant-menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 49%;
        }
      }
    }
    .menuContainer {
      height: 92%;
    }
    .bottomLine {
      width: 100%;
      height: 0.5px;
      background-color: @line-3;
    }
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    width: 49.5%;
    background-color: @fill-1;
    .codeOptions {
      display: flex;
      justify-content: flex-end;
      padding: 10px 20px;
      height: 45.5px;
      border-bottom: 0.5px solid @line-3;
      .otherOptions {
        p {
          .font-size-weight(14px,400);
        }
        svg {
          margin-left: 15px;
          width: 20px;
          height: 20px;
          color: @text-5;
          cursor: pointer;
        }
      }
    }
    .frontContainer {
      height: 100%;
      margin: 10px;
      padding: 5px;
      overflow: auto;
      border: 1px solid @line-3;
      :global {
        .defaultText {
          user-select: none;
          .font-size-weight(14px,400);
          color: @text-3;
        }
      }
    }

    .codeButton {
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 20px;
      height: 50px;
      border-top: 0.5px solid @line-3;
      background-color: @fill-1;
      .submit {
        margin-left: 20px;
        border: 0px;
      }
    }
  }
}
