@import '~antd/es/style/themes/default.less';
@import 'tailwind.css';

* {
  padding: 0px;
  margin: 0px;
}

.font-size-weight(@size,@weight) {
  font-size: @size;
  line-height: 24px;
  font-weight: @weight;
  font-style: normal;
  font-family: PingFang-SC, Helvetica, Tahoma, Arial;
}
// light 300
// regular 400
// medium 500

:global {
  .ant-message-custom-content {
    display: flex;
    align-items: center;
  }
}
